.form--user {
  padding: 50px;
  background-color: rgba(235, 235, 235, 0.335);
  border: 1px solid #f8f8f8;
  border-radius: 10px;
}

.form--user h3 {
  background-color: rgb(54, 71, 148);
  padding: 10px;
}

.input--container {
  display: flex;
  flex-direction: column;
}

.input--container input {
  outline: none;
  border: 0;
  background-color: #f8f8f8f8;
  height: 40px;
}
